body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/kottayam.jpg") top center;
    background-size: cover;
    overflow: hidden
}
    
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #hero h2 {
    margin: 0 0 10px 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  .ksd-exp{
    margin-top: 100px;
  }

  .detailtxt{
    font-size: 25px;
  }

  .mp{
    margin-top: 20px;
  }

  .ttl{
    font-family: cursive;
    color: green;
    font-weight: bolder;
  }